{% extends 'base.html.twig' %}

{% block body %}

    <body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        {{ include('supervisor/navbar.html.twig') }}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: calc(100vh - calc(3.5rem + 1px));">
            <div class="content-header">
                <div class="container">
                    <div class="col-sm-6">
                        <h1 class="m-0"> {{ "pendingRequests.title"|trans }} </h1>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="callout callout-warning">
                                <h5>{{ "pendingRequests.pendingRequests"|trans }}</h5>

                                <table class="table table-bordered table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>{{ "pendingRequests.employee"|trans }}</th>
                                        <th>{{ "petition.initialDate"|trans }}</th>
                                        <th>{{ "petition.finalDate"|trans }}</th>
                                        <th style="width: 50px">{{ "petition.duration"|trans }}</th>
                                        <th style="width: 50px">{{ "petition.type"|trans }}</th>
                                        <th style="width: 50px">{{ "petition.reason"|trans }}</th>
                                        <th style="width: 100px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for petition in petitions %}
                                        <tr>
                                            <td> {{ petition.employee.name }} {{ petition.employee.lastname }} </td>
                                            <td> {{ petition.getInitialDate()|date("d/m/Y") }} </td>
                                            <td> {{ petition.getFinalDate()|date("d/m/Y") }} </td>
                                            <td> {{ petition.duration}}  </td>

                                            {% if petition.type == 'VACATION' %}
                                                <td> {{ "petition.types.vacation"|trans }} </td>
                                            {% else %}
                                                <td> {{ "petition.types.ausence"|trans }} </td>
                                            {% endif %}

                                            <td> {{ petition.reason}}  </td>

                                            <td>
                                                <a type="button" href="/supervisor/accept_request?petitionId={{ petition.id }}"
                                                   style="text-decoration: none; color: white" class="btn btn-primary btn-xs">{{ "pendingRequests.accept"|trans }}
                                                </a>
                                                <a type="button" href="/supervisor/deny_request?petitionId={{ petition.id }}"
                                                   style="text-decoration: none; color: #007bff" class="btn btn-outline-primary btn-xs">{{ "pendingRequests.deny"|trans }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}