{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!------------ CALENDAR ------------>
    <link rel="stylesheet" href="{{ asset('bootstrap_adminLTE/plugins/fullcalendar/main.css') }}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ asset('bootstrap_adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <!------------ CALENDAR ------------>
    <script type="text/javascript" src="{{ asset('bootstrap_adminLTE/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- fullCalendar 2.2.5 -->
    <script type="text/javascript" src="{{ asset('bootstrap_adminLTE/plugins/fullcalendar/main.js') }}"></script>
{% endblock %}

{% block body %}
    <body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        {% if is_granted(role_supervisor) %}
            {{ include('supervisor/navbar.html.twig') }}
        {% elseif is_granted(role_employee) %}
            {{ include('empleado/navbar.html.twig') }}
        {% endif %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: calc(100vh - calc(3.5rem + 1px));">
            <div class="content-header">
                <div class="container">
                    <div class="col-sm-6">
                        <h1 class="m-0"> {{ "homeEmployee.title"|trans }} </h1>
                    </div>
                </div>
            </div>

            <!-- Main content -->

            <div class="content">
                <div class="container">

                    {% if is_granted(role_supervisor) and num_petitions > 0 %}
                        {{ include('supervisor/panel_info.html.twig') }}
                    {% endif %}
                    {% if calendar== 1 %}

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4 class="card-title">{{ "homeEmployee.period"|trans }}: {{ initial_date }}
                                                - {{ final_date }}</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="{{ path('app_employee_request-vacation') }}" type="button"
                                               class="btn btn-block btn-sm btn-primary"><i
                                                        class="fa fa-plus"></i>{{ "navbarEmployee.requestVacation"|trans }}
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="{{ path('app_employee_request-absence') }}" type="button"
                                               class="btn btn-block btn-sm btn-outline-primary"><i
                                                        class="fa fa-plus"></i>{{ "navbarEmployee.requestAbsence"|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-12">
                                            <div class="info-box m-0">
                                                <span class="info-box-icon bg-info">{{ user_information.getTotalVacationDays }}</span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">{{ "homeEmployee.totalDays"|trans }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-12">
                                            <div class="info-box m-0">
                                                <span class="info-box-icon bg-info">{{ user_information.getPendingVacationDays }}</span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">{{ "homeEmployee.availableDays"|trans }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-12">
                                            <div class="info-box m-0">
                                                <span class="info-box-icon bg-info">{{ days }}</span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">{{ "homeEmployee.usedDays"|trans }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <h4> {{ "homeEmployee.calendar"|trans }} </h4>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{{ "homeEmployee.filters"|trans }}</h4>
                                </div>
                                <div class="card-body">
                                    <div class="icheck-orange">
                                        <input type="checkbox" checked id="vacances">
                                        <label for="vacances">
                                            {{ "homeEmployee.vacations"|trans }}
                                        </label>
                                    </div>
                                    <div class="icheck-indigo">
                                        <input type="checkbox" checked id="absence">
                                        <label for="absence">
                                            {{ "homeEmployee.absences"|trans }}
                                        </label>
                                    </div>
                                    <div class="icheck-olive">
                                        <input type="checkbox" checked id="festives">
                                        <label for="festives">
                                            {{ "homeEmployee.festives"|trans }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-primary">
                                        <div class="card-body p-0">
                                            <!-- THE CALENDAR -->
                                            <div id="calendar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear()
            var Calendar = FullCalendar.Calendar;

            var event = [];

            {% if festivo_depar|length > 0 %}

            {% for festive in festivo_depar %}

            event.push({
                id: 'festives',
                groupId: 'festives', // recurrent events in this group move together
                title: '{{ festive.name }}',
                start: new Date('{{ festive.initialdate|date('Y-m-d') }}'),
                end: new Date('{{ festive.finaldate|date('Y-m-d') }}'),
                backgroundColor: "#3d9970", //olive
                borderColor: "#3d9970", //olive
                allDay: true
            })
            {% endfor %}
            {% endif %}

            {% if festivo_usuario|length > 0 %}

            {% for festive in festivo_usuario %}



            event.push({
                id: 'vacances',
                groupId: 'vacances', // recurrent events in this group move together
                title: '{{ festive.name }}',
                start: new Date('{{ festive.initialdate|date('Y-m-d') }}'),
                end: new Date('{{ festive.finaldate|date('Y-m-d') }}'),
                backgroundColor: "#ff851b", //orange
                borderColor: "#ff851b", //orange
                allDay: false,
            })
            {% endfor %}
            {% endif %}

            {% if absence_usuario|length > 0 %}

            {% for festive in absence_usuario %}

            event.push({
                id: 'absence',
                groupId: 'absence', // recurrent events in this group move together
                title: '{{ festive.name }}',
                start: new Date('{{ festive.initialdate|date('Y-m-d') }}'),
                end: new Date('{{ festive.finaldate|date('Y-m-d') }}'),
                backgroundColor: "#6610f2", //indigo
                borderColor: "#6610f2", //indigo
                allDay: false
            })
            {% endfor %}
            {% endif %}


            var calendarEl = document.getElementById('calendar');

            var calendar = new Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                displayEventTime: false,
                events: event,
                editable: true,
            });

            const checkeBox = document.querySelectorAll("input[type=checkbox]");
            checkeBox.forEach(function (checkbox) {
                checkbox.addEventListener("click", (e) => {
                    var target = e.target.id;
                    console.log(target)
                    var event = calendar.getEventById(target);
                    console.log(event)
                    if (checkbox.checked) {
                        event.setProp('display', 'auto') // return to normal
                    } else {
                        event.setProp("display", "none")
                    }
                });
            });
            calendar.render();
            // $('#calendar').fullCalendar()
        })

    </script>

    {% else %}
        <div class="col-sm-6">
            <h4> {{ "homeEmployee.notcalendar"|trans }} </h4>
        </div>
    {% endif %}


    </body>

{% endblock %}