<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="{{ path('app_employee_dashboard') }}" class="navbar-brand">
            <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
                 class="brand-image elevation-3"
                 style="opacity: .8" alt="logo">
            <span class="brand-text font-weight-light">{{ "general.applicationTitle"|trans }}</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('app_employee_vacation') }}" class="nav-link">{{ "navbarEmployee.vacationList"|trans }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_employee_calendar') }}" class="nav-link">{{ "navbarEmployee.calendar"|trans }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       class="nav-link dropdown-toggle">{{ "navbarEmployee.request"|trans }}</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{{ path('app_employee_request-vacation') }}" class="dropdown-item">{{ "navbarEmployee.requestVacation"|trans }}s </a>
                        </li>
                        <li><a href="{{ path('app_employee_request-absence') }}" class="dropdown-item">{{ "navbarEmployee.requestAbsence"|trans }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Right navbar links -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">
                <a href="{{ path('app_logout') }}" class="nav-link">{{ "general.logout"|trans }}</a>
            </li>
        </ul>
    </div>
</nav>