{% extends 'base.html.twig' %}

{%  block javascripts %}
    {{ parent() }}
    <!-- bs-custom-file-input -->
    <script type="text/javascript" src="{{ asset('bootstrap_adminLTE/plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/control_fechas.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('js/utils.js') }}" defer></script>
{% endblock %}

{% block body %}

    <body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        {{ include('empleado/navbar.html.twig') }}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: calc(100vh - calc(3.5rem + 1px));">
            <div class="content-header">
                <div class="container">
                    <div class="col-sm-6">
                        <h1 class="m-0"> Solicitar ausencia</h1>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Datos de la solicitud</h3>
                                </div>
                                <form>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="fechaInicio">Fecha inicio periodo ausencia</label>
                                                    <input type="date" class="form-control" id="fechaInicio">
                                                    <span class="error invalid-feedback"> La fecha inicio tiene que ser mayor o igual a la fecha actual y menor a la fecha fin </span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="fechaFin">Fecha final periodo ausencia</label>
                                                    <input type="date" class="form-control" id="fechaFin">
                                                    <span class="error invalid-feedback"> La fecha fin tiene que ser mayor o igual a la fecha actual y mayor a la fecha inicio </span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="duracion">Duración</label>
                                                    <input type="text" class="form-control" id="duracion">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Motivo</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected="selected">Selecciona...</option>
                                                        <option>Fallecimiento familiar</option>
                                                        <option>Baja médica</option>
                                                        <option>Motivos de salud</option>
                                                        <option>Otros</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputFile">Adjuntar justificante</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                   id="exampleInputFile">
                                                            <label class="custom-file-label" for="exampleInputFile">Choose
                                                                file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Solicitar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}