{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/crear_usuario.js') }}" defer></script>
{% endblock %}

{% block body %}

    <body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        {{ include('admin/navbar.html.twig') }}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: calc(100vh - calc(3.5rem + 1px));">
            <div class="content-header">
                <div class="container">
                    <div class="col-sm-6">
                        <h1 class="m-0"> {{ "createUser.title"|trans }} </h1>
                    </div>
                </div>
            </div>

            <!-- Main content 2 -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">{{ "createUser.subtitle1"|trans }}</h3>
                                </div>
                                {{ form_start(form) }}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_row(form.name) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_row(form.lastname) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.email) }}
                                                    {{ form_widget(form.email, {'id': 'email'}) }}
                                                    <span style="color: red">{{ form_errors(form.email) }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_label(form.password) }}
                                                    {{ form_widget(form.password, {'id': 'password'}) }}
                                                    <span style="color: red">{{ form_errors(form.password) }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_row(form.direction) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form_row(form.city) }}
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form_row(form.province) }}
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    {{ form_row(form.postalcode, {'id': 'postalCode'}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header"
                                         style="color: #fff; background-color: #007bff; border-top-right-radius: 0rem; border-top-left-radius: 0rem">
                                        <h3 class="card-title">{{ "createUser.subtitle2"|trans }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    {{ form_row(form.roles,{ 'class': 'form-select', 'id': 'role'}) }}

                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form_row(form.department, {'id': 'department'}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form_row(form.supervisor, {'id': 'supervisor'}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    {{ form_label(form.total_vacation_days) }}
                                                    {{ form_widget(form.total_vacation_days, {'id': 'diasVac'}) }}
                                                    <span style="color: red">{{ form_errors(form.total_vacation_days) }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        {{ form_row(form.submit) }}
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body>

{% endblock %}