{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/modificar_usuario.js') }}" defer></script>
{% endblock %}

{% block body %}

    <body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        {{ include('admin/navbar.html.twig') }}


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: calc(100vh - calc(3.5rem + 1px));">

            <div class="content-header">
                <div class="container">
                    <div class="col-sm-6">
                        <h1 class="m-0"> Modificar usuario</h1>
                    </div>
                </div>
            </div>

            <!-- Main content 1 -->

            <div class="content">

                <div class="container">
                    {% if user is not defined %}

                        {{ form_start(depar) }}

                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(depar.department, {'attr': {'class': 'form-control select2'}}) }}
                            </div>
                            <div class="col-md-4">
                                    {{ form_row(depar.user, {'attr': {'class': 'form-control select2', 'id':'selector' }}) }}
                            </div>
                            <div class="col-md-4">
                                <label style="visibility: hidden;">Botón</label>
                                {{ form_row(depar.submit, {'attr': {'class': 'btn btn-primary form-control'}}) }}
                            </div>
                        </div>
                        {{ form_end(depar) }}

                    {% endif %}
                    {% if user is defined %}
                        <div class="row" id="formUser">
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Datos personales</h3>
                                    </div>
                                    {{ form_start(form) }}

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_row(form.name) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_row(form.lastname) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{ form_row(form.email) }}
                                                    <span class="error invalid-feedback"> El email introducido no es válido </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <span class="error invalid-feedback"> La contraseña debe tener la menos 8 caracteres, mayúsculas, minúscula y números </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_row(form.direction) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form_row(form.city) }}
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form_row(form.province) }}

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    {{ form_row(form.postalcode) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header"
                                         style="color: #fff; background-color: #007bff; border-top-right-radius: 0rem; border-top-left-radius: 0rem">
                                        <h3 class="card-title">Datos de la empresa</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    {{ form_row(form.department) }}
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    {{ form_help(form.roles) }}


                                                </div>
                                            </div>
                                            <div class="col-md-5" id="groupSuper">
                                                <div class="form-group">
                                                    <label>Supervisor</label>
                                                    <select class="form-control select2" style="width: 100%;">
                                                        <option selected>Selecciona...</option>
                                                        <option>Ana Lopez</option>
                                                        <option>Juan Hernandez</option>
                                                        <option>Irene Artetxe</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="groupDiasVac">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    {{ form_row(form.total_vacation_days) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        {{ form_row(form.submit) }}

                                    </div>
                                    {{ form_end(form,{'render_rest': false}) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}