<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
    {{ include('language.html.twig') }}
    <li class="nav-item dropdown">
        <a id="dropdownPerfil" href="#" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"
           class="nav-link dropdown-toggle">{{ "general.options"|trans }}</a>
        <ul aria-labelledby="dropdownPerfil" class="dropdown-menu border-0 shadow">
            <li><a href="{{ path('app_change_password') }}" class="dropdown-item">{{ "general.changePass"|trans }}</a></li>
            <li><a href="{{ path('app_logout') }}" class="dropdown-item">{{ "general.logout"|trans }}</a></li>
        </ul>
    </li>
</ul>