{% extends 'base.html.twig' %}

{% block body %}

    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>{{ "general.applicationTitle"|trans }}</b>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <form action="#" method="post">

                    {% if error %}
                        <div id='error' class='error' style="color: darkred">{{ "login.loginError"|trans }}</div>
                    {% endif %}

                    <div class="input-group mb-3">
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder={{ "login.email"|trans }}
                               autocomplete="email" required autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder={{ "login.password"|trans }} autocomplete="current-password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fas fa-lock"></i>
                            </div>
                        </div>

                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                    <div class="row" style="justify-content: right;">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">{{ "login.access"|trans }}</button>
                        </div>
                    </div>
                </form>
                <p class="mb-1">
                    <a href="#">{{ "login.passwordForgot"|trans }}</a>
                </p>
            </div>
        </div>
    </div>

    </body>
{% endblock %}