{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- BS Stepper -->
    <link rel="stylesheet" href="{{ asset('bootstrap_adminLTE/plugins/bs-stepper/css/bs-stepper.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/validate_pass.js') }}" defer></script>
{% endblock %}

{% block body %}

    <body class="hold-transition layout-top-nav">
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 100vh;">
            <div class="content-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{ "companyRegistration.title"|trans }}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ul class="navbar-nav navbar-no-expand ml-auto" style="justify-content: flex-end">
                                {{ include('language.html.twig') }}
                            </ul>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container">


                    <!-- STEPPER -->
                    <div class="bs-stepper">
                        <div class="bs-stepper-header">
                            <div class="step">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">{{ "companyRegistration.company.title"|trans }}</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">{{ "companyRegistration.departments.title"|trans }}</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step active">
                                <button type="button" class="step-trigger">
                                    <span class="bs-stepper-circle">3</span>
                                    <span class="bs-stepper-label" style="color: #007bff">{{ "companyRegistration.admin.title"|trans }}</span>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">{{ "companyRegistration.admin.title"|trans }}</h3>
                                </div>
                                {{ form_start(form) }}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ form_label(form.email) }}
                                                {{ form_widget(form.email, {'id': 'email'}) }}
                                                <span style="color: red">{{ form_errors(form.email) }}</span>
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_label(form.password) }}
                                                {{ form_widget(form.password, {'id': 'new_password'}) }}
                                                <small> {{ form_help(form.password) }}</small>
                                                <span style="color: red">{{ form_errors(form.password) }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        {{ form_row(form.submit) }}
                                    </div>
                                {{ form_start(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>

{% endblock %}